body {
    margin: 0;
    padding: 0;
    font-family: "Kaisei Decol", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;

    background-color: #ffe6e6;
}

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffe6e6;
    opacity: 0.4;
    z-index: -1;
  }
  .Polka_v2 {
    background-image:  radial-gradient(#e2adad 2.3px, transparent 2px), radial-gradient(#e2adad 2.3px, #ffe6e6 2px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
  }

img{max-width: 100%;}

video{max-width: 100%;}

.menu-bar {
    position: fixed; /* 絶対位置 */
    top: 50%; /* 縦の中央 */
    left: 15%; 
    transform: translateY(-50%); /* 縦の中央 */
    font-family: "Stardos Stencil", serif;
}

.menu-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: none; 
}

.menu-bar ul li {
    margin: 20px 0;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #7469B6;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-bar ul li a:hover {
    color: #ff009d; 
}

.container {
    width: 390px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 0px;
    box-sizing: border-box;
}

.banna {
    padding-top: 193.3%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.banna video{
    width:  100%;
    height: 100%;
    position:absolute;
    top: 0px;
}

.yajirusi-text{
    font-size: 30px;
    color: #f0d7a3;
    z-index: 1;
    margin-top: -80px;
}

.aisatsu{
    height: 445px;
    max-width: 100%;
    background-color: #AD88C6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.youkoso-title{
    text-align: center;
    font-size: 20px;
    color: #FFE6E6;
}

.youkoso{
    text-align: center;
    font-size: 12px;
    color: #FFE6E6;
}

.fourtune{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 725px;
    max-width: 100%;
    background-color: #E1AFD1
}

.kaitemiyou{
    font-size: 23px;
    padding-bottom: 5px;
    color: #4d3a4d;
}

.hukidasi_{
    width: 320px;
    padding-bottom: 30px;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 10px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px; 
    font-family: "Kaisei Decol", serif;
}

button {
    background-color: #c084c7; 
    color: #FFE6E6;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Kaisei Decol", serif;
}

button:hover {
    background-color: #ffc060; /* ホバー */
}

.huta{
    background-color: #E1AFD1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 20px;
}

#cardImage {
    width: 200px;  
    height: auto;   
    display: block;
    margin: 20px auto; 
    border-radius: 5%;
}

.container_result {
    width: 390px;
    max-width: 100%;
    height: 800x;
    background-color: #c084c7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
}

h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

/* 占い結果メッセージのボックス */
.fourtune-box_oya{
    display: flex;
    justify-content: center; 
}

.fortune-box {
    background-color: white;
    width: 80%;
    max-width: 300px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    color: #6B4E71;
    margin-top: 20px;
}

.onemorebottun{
    display: flex;
    justify-content: center; 
}

#result-page{
    button{
        background-color: transparent;
        color: white;
        font-size: 12px;
        margin-top: 30px;
        border: none;
        cursor: pointer;
        font-weight: normal;
    }
}

.position {
    display: none;
}

.uranaikekka{
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.question{
    margin-top: 40px;
}

.cardname{
    margin-top: 20px;
    font-size: 22px;
}

.huta_result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin-top: 100px;
}

#overlay {
    display: none;
}

#overlay-button{
    display: none;
}

#overlay-input{
    display: none;
}



@media screen and (max-width: 1000px) {
    .menu-bar {
        display: none;/*非表示*/
    }

    body {
        margin: 0;
        padding: 0;
        font-family: "Kaisei Decol", serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        color: #fff;
    
        background-color: #ffe6e6;
        animation: bugfix infinite 1s;
        -webkit-animation: bugfix infinite 1s;
      }

      @keyframes bugfix {
        from {
          padding: 0;
        }
        to {
          padding: 0;
        }
      }
      @-webkit-keyframes bugfix {
        from {
          padding: 0;
        }
        to {
          padding: 0;
        }
      }
      #overlay-button {
        position: fixed; /* 絶対位置 */
        right: 2em;
        top: 3em;
        z-index: 5;
        cursor: pointer;
        user-select: none;
      }
      #overlay-button span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: #ffffff;
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
      }
      #overlay-button span:before {
        top: -10px;
        visibility: visible;
      }
      #overlay-button span:after {
        top: 10px;
      }
      #overlay-button span:before, #overlay-button span:after {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: #ffffff;
        position: absolute;
        content: "";
        transition: all .2s ease-in-out;
      }
      #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
        background: #ffffff;
      }
      
      input[type=checkbox] {
        display: none; 
        
      }
      
      input[type=checkbox]:checked ~ #overlay {
        visibility: visible; 
      }
      
      input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
        background: transparent;
        
        
      }
      input[type=checkbox]:checked ~ #overlay-button span:before {
        transform: rotate(45deg) translate(7px, 7px);
      
      }
      input[type=checkbox]:checked ~ #overlay-button span:after {
        transform: rotate(-45deg) translate(7px, -7px);
      
      
      }
      

      
      #overlay {
        height: 100vh;
        width: 100vw;
        background: #7469B6;
        z-index: 3;
        visibility: hidden; 
        position: fixed;
        top: 0;  
        left: 0; 
        font-family: "Stardos Stencil", serif;
        
      }
      #overlay.active {
      
      }
      #overlay ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
      }
      #overlay ul li {
        padding: 1em;
      }
      #overlay ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
      }
      #overlay ul li a:hover {
        color: #ffc060!important;
      }

    }
